@CHARSET "UTF-8";

#login,#register {
	width: 320px;
	padding-top: 100px;
	margin: 0 auto;
}

#loginform,#registerform {
	margin-left: 8px;
	padding: 26px 24px 46px;
	border: 1px solid rgb(229, 229, 229);
	box-shadow: 0pt 4px 10px -1px rgba(200, 200, 200, 0.7);
}

#error {
	margin: 0 0 16px 8px;
	padding: 12px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	background-color: rgb(255, 235, 232);
	border-color: rgb(204, 0, 0);
}

#btns {
	padding-left: 120px;
}