@CHARSET "UTF-8";

body {
	font-family: "微软雅黑";
	font-size: 14px;
}

.table {
	border-collapse: collapse;
}

.table tr {
	cursor: default;
}

.table td, .table th {
	border: 1px solid #A0BFE8;
	padding:3px 7px 2px 7px;
}

.table th {
	text-align: left;
	padding-bottom: 5x;
	padding-top: 5px;
	background-color: #F8F8F8;
}

.table td a {
	margin-left: 2px;
}

label {
	font-size: 16px;
	font-family: "微软雅黑";
}

#pagination {
	width: 494px;
	background: #efefef;
	border: 1px solid #ccc;
}

.button {
	width: 65px;
	height: 25px;
	cursor: pointer;
	font-family: "微软雅黑";
	background: url(../../Public/Images/btnbg.gif) repeat-x;
	border: 1px solid #A0BFE8;
}

#add, #update {
	margin: 20px;
}

#sysexpend {
	float: left;
}

#sysincome {
	float: left;
	margin-left: 20px;
}

