@CHARSET "UTF-8";

body {
	background: #E0ECFF;
	font-family: "微软雅黑";
	margin: 0px;
}

#menu {
	
}

dl {
	background: #CCDDDD;
	margin-left: 10px;
	margin-right: 10px;
}

dt {
	background: url(../Images/nav_title.png);
	padding: 5px;
	padding-left: 10px;
	font-size: 20px;
}

dd {
	padding-left: 8px;
	margin: 0px;
}

dd a {
	color: #000;
	border-bottom: 1px solid #F4F4F4;
	display: block;
	padding: 10px;
	padding-left: 30px;
	text-decoration: none;
	margin:2px 0;
}

dd a:hover {
	background-color: #E0EEEE;
}

#selected {
	background: #E0EEEE;
}